.navbar{
    margin-bottom: 0px!important;
}
.graybg{
    background: #f5f5f5;
}
.nav-tabs{
    border-bottom: none;
}
.nav-tabs>li>a{
    color: #666!important;
    border:none!important;

}
.nav-tabs>li.active>a{
    color:#c5b17c!important; 
    border-bottom: 3px solid #c6b07f!important;
    background: #f5f5f5!important;
}
.nav-tabs>li>a:hover,.nav-tabs>li>a:focus{
    color: #c5b17c!important;
}
.middle{
    line-height: 40px;
}
/* 我的抵押 */
#finance{
    background: #fff;
}
.fasten{
    /* width: 34%;
    height: auto; */
    width: 100px;
    height: 100px;
}
.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.table th,.table td{
    text-align: center;
    vertical-align: middle!important;
}
.table a{
    display: block;
}
.table a:hover,.table a:focus{
    color: #337ab7!important;
}
.gray{
    color: #999;
}
.red-display{
    color: #dc4437;
}
/* 我的钱包 */
#wallet{
    background: #fff;
}
#wallet a{
    color: #D7C6A6;
}
#wallet a:hover,#wallet a:focus{
    color: #D7C6A6!important;
}
#wallet table{
    margin-bottom: 0px;
}
#wallet th{
    text-align: left;
}
#wallet th span.gray{
    font-size: 12px;
}
#wallet table thead tr>th,#wallet table tbody tr>td{
    border: 0px;
}
#wallet table thead tr>th,#wallet table tbody tr>td{
    border-bottom:10px solid #f5f5f5;
}
.occupy{
    margin-bottom: 40px;
}