*{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
    margin: 0;
}
a{
    text-decoration: none!important;
}
a:focus,a:hover{
    color: #fff!important;
}
.backdrop{
    background-image: url(../images/sybanner.png);
    background-repeat: no-repeat;
    background-size: 100% 600px;
    background-position: center;
    width: 100%;
    height: 600px;
}
/* 导航覆盖样式 */
.navbar-nav{
    height: 80px;
}
.navbar-inverse{
    opacity: .7;
    position: relative;
}
.navbar-brand,.navbar-nav>li>a{
    line-height: 50px;
}
.navbar-brand img{
    display: inline-block;
    margin-top: -6px;
}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}
.navbar-inverse .navbar-nav>li{
    position: relative;
}
.navbar-inverse .navbar-nav>li>a:focus::after, .navbar-inverse .navbar-nav>li>a:hover::after,.navbar-inverse .navbar-nav>li>a.active::after{
    content: url(../images/syxiahuaxianzhishi.png);
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -6px;
}    
.navbar-inverse .navbar-nav>li>a.entry.active::after,.navbar-inverse .navbar-nav>li>a.register.active::after{
    bottom: -21px;
}
.navbar-inverse .navbar-nav>li>a.entry:focus::after, .navbar-inverse .navbar-nav>li>a.entry:hover::after,.navbar-inverse .navbar-nav>li>a.register:focus::after, .navbar-inverse .navbar-nav>li>a.register:hover::after,.navbar-inverse .navbar-nav>li>a.notice:focus::after, .navbar-inverse .navbar-nav>li>a.notice:hover::after{
    bottom: -21px;
}
.navbar-inverse .navbar-brand{
    font-size: 16px;
    height: 80px;
}
.navbar-inverse .navbar-nav>li>a{
    font-size: 16px;
}
.navbar-inverse .navbar-nav>li>a.entry,.navbar-inverse .navbar-nav>li>a.register,.navbar-inverse .navbar-nav>li>a.notice{
    font-size: 14px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a.active{
    color: #c5b17f!important;
    border-bottom: 4px solid #c5b17f;
}
.navbar-collapse.in{
    overflow-y:-webkit-paged-y;
}
/* .help{
    position: absolute;
    right: 20px;
    top: 30px;
    color: #fff;
} */
.help::before{
    content:url(../images/sybangzhu.png);
    position: relative;
    top: 2px;
    right: 5px;
}
/* 数字资产类 */
.subHead{
    color: #c7b07e;
}
.numProduct{
    margin-top: 70px;
}
.title+p{
    margin-bottom: 26px;
}
.numProduct .row div{
    padding-top: 40px;
    padding-bottom: 24px;
}
/* .row div.col-md-4{
    width: 32%;
    margin-left: 1%;
    margin-bottom: 1%;
} */
.numProduct .row div.coin{
    background: #fff3dd;
}
.numProduct .row div.cash{
    background: #e4f9fe;
}
.numProduct .row div.layte{
    background: #fff3fd;
}
.numProduct .row div.aether{
    background: #e4f9fe;
}
.numProduct .row div.aetherClassical{
    background: #fff3fd;
}
.numProduct .row div.more{
    background: #fff3dd;
}
.numProduct .row div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* 游戏类 */
.games{
    margin-top: 70px;
}
.games .row div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 140px;
}
.games .row>div{
    background: #f5f5f5;
    border: 1px solid #eee;
    padding-top: 75px;
    padding-bottom: 43px;
}
.games .row>div>.caption h3{
    margin-top: 60px;
}
/* 底部 */
.base{
    height: 100px;
    background: #222;
}
.base .container p{
    line-height: 100px;
    color: #fff;
}
.base .container p.qq::before{
    content: url(../images/syqqyejiao.png);
    position: relative;
    top: 5px;
    right: 10px;
}
.base .container p.email{
    margin-left: 10px;
}
.base .container p.email::before{
    content: url(../images/syyouxiangyj.png);
    position: relative;
    top: 3px;
    left: 5px;
    margin-right: 12px;
}
/* 自适应 */
@media (min-width: 768px){
    .col-sm-6{
        width: 49%;
        margin-left: 1%;
        margin-bottom:1%;
    }
    .navbar-brand{
        line-height: 50px;
    }
    .navbar-nav>li>a{
        padding: 15px 10px;
        line-height: 50px;
    }
    .navbar>.container .navbar-brand{
        font-size: 18px;
    }
    .navbar-inverse .navbar-nav>li>a{
        font-size: 14px;
    }
    .navbar-inverse .navbar-nav>li>a.entry, .navbar-inverse .navbar-nav>li>a.register, .navbar-inverse .navbar-nav>li>a.notice {
        font-size: 12px;
    }
    .games .row>div{
        margin-bottom: 1%;
    }
}
@media (min-width:992px) {
    .col-md-4{
        width: 32%;
        margin-left: 1%;
        margin-bottom: 1%;
    }
    .games .row>div{
        margin-bottom: 100px;
    }
    .navbar-brand,.navbar-nav>li>a{
        line-height: 50px;
    }
    .navbar>.container .navbar-brand{
        font-size: 22px;
    }
}
.col-xs-12{
    margin-bottom: 1%;
}
.games .row>div{
    margin-bottom: 1%;
}