/* 个人资料 */
#data .list-group-item:last-child{
    line-height: 17px;
    height: 48px;
}
#data .form-horizontal .form-group:last-child{
    margin-bottom: 0px;
}
#data a{
    color: #a1a1a1!important;
}
#data a:hover,#data a:focus{
    color: #a1a1a1!important;
    cursor: pointer;
}
.changeTel2{
    position: relative;
    right: 20px;
}
.changeTel3{
    position: relative;
    right: 20px;
}
.changeTel2::after{
    content:url(../images/xiala1.png);
    position: absolute;
    top: 10px;
}
.changeTel3::after{
    content:url(../images/xialazhankai1.png);
    position: absolute;
    top: 10px;
}
/* 信用积分 */
.gradel{
    position: relative;
}
.gradel::after{
    content: url('../images/zuanshidengji.png');
    position: absolute;
    top: 5px;
    left: 110%;
}
.explain{
    position: relative;
}
.explain::before{
    position: absolute;
    left: -23px;
    top: 2px;
    content:url('../images/jifenshuoming.png');
}
.points{
    font-size: 24px;
    font-style: normal;
}
.page-header{
    margin: 20px 0px 20px;
    padding-bottom: 0px;
}
.bgColor{
    background: #fff;
}
.bgColor td{
    text-align: left;
}
.bgColor tr td:nth-child(3){
    text-align: center;
}
/* 实名认证 */
.occupy2{
    padding-top: 40px;
}
#realName .post_upload>div{
    display: block;
    position: relative;
    width: 180px;
    height: 140px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
/* 安全设置 */
#safe a{
    color: #000!important;
}
#safe a:hover,#safe a:focus{
    color: #000!important;
}
#safe .panel-heading{
    background: #fff;
}
.editor{
    position: relative;
    right: 30px;
}
.editor.collapsed::after{
    content:url(../images/xiala1.png);
    position: absolute;
    left: 125%;
    top: 1px;
}
.editor::after{
    content:url(../images/xialazhankai1.png);
    position: absolute;
    left: 125%;
    top: 1px;
}
.confirmBtn{
    padding: 6px 60px;
}
/* 官方公告 */
#notice a{
    color: #000!important;
}
#notice a:hover,#notice a:focus{
    color: #000!important;
}