.bit-pledge{
    background: #f5f5f5;
}
a{
    color: #000;
}
/* 面包屑导航 */
.bit-pledge>.container>ol>li>a:hover,.bit-pledge>.container>ol>li>a:focus{
    color: #000!important;
}
.bit-pledge>.container>ol>li>a.active2{
    color: #c9b489;
}
.bit-pledge>.container>ol>li>a.active2:hover,.bit-pledge>.container>ol>li>a.active2:focus{
    color: #c9b489!important;
}
.breadcrumb{
    margin-bottom: 15px;
}
.breadcrumb>li+li:before{
    content:'>';
}
/* 抵押信息 */
.state{
    height: 30px;
    margin-bottom: 40px;
}
.state div.active4:not(:first-child) .circle{
    margin-left: 0px;
}
.pledge-message .circle{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    color: #9a9a9a;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e0e0e0;
    margin-left: 5px;
    margin-right: 5px;
}
.pledge-message.active4 .circle{
    background: #c8b080;
    color: #fff;
    margin-left: 5px;
}
.pledge-message.active4 p{
    color: #c8b080;
}
.pledge-message p{
    line-height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ccc;
}
.hr-line-dashed{
    border: 1px solid #eee;
    height: 0px;
}
/* 抵押信息表单 */
.red-display{
    color: #dc4236;
}
.pledge-detail{
    padding-top: 30px;
}
.pledge-detail .form-horizontal .form-group{
    margin-left: 0px;
    margin-right: 0px;
}
.pledge-detail label{
    color: #666;
    font-weight: normal;
}
.pledge-detail p.gray{
    color: 
}
.convert{
    background-image: url(../images/zhuanhuan.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 20px;
    padding: 0px;
}
.pledge-btn{
    background: #c6b07f;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.pledge-btn:hover{
    color: #fff;
}
.occupy{
    margin-bottom: 40px;
}
#cycle{
    background-image: url(../images/xiala.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}
/* 抵押须知 */
.note{
    margin-top: 16px;
    padding-left: 30px;
    padding-bottom: 100px;
}
.note h4{
    font-weight: 600;
}
.note ul>li{
    line-height: 30px;
}
.formBtn{
    width: 60px;
    height: calc(355px/9);
    font-size: 15px;
    background: #fff;
    color: #cebc94;
}
.formBtn:hover{
    color: #cebc94;
}
.formBtn:focus{
    background: #c6b07f;
    color: #fff;
}
/* 审核中 */
.auditing{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}
.cancel{
    border: 1px solid #c6b07f;
    color: #c5b17c;
}
.cancel:hover,.cancel:focus,.cancel:active,.cancel:active:hover,.cancel:active:focus{
    border: 1px solid #c6b07f;
    color:#c5b17c;
}
/* 调节自适应 */
@media (min-width:768px){
    .state{
        margin-bottom: 40px;
    }
}
@media (min-width:452px){
    .state{
        margin-bottom: 15px;
    }
}
@media (min-width:992px) {
    .state{
        margin-bottom: 15px;
    }
    .pledge-message.active4 .circle{
        margin-left: 40px;
    }
}
@media (min-width:1200px){
    .state{
        margin-bottom: 15px;
    }
    .pledge-message.active4 .circle{
        margin-left: 40px;
    }
}
/* 审核通过 */
.occupy-p{
    margin-right: 10px;
    line-height: 34px;
}
/* 游戏抵押 */
.form_date{
    padding-left: 15px!important;
    padding-right: 15px!important;
}
#describe{
    resize: none;
}
.post_upload>div:not(:last-child){
    position: relative;
    width: 180px;
    height: 140px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    display: none;
}
.post_upload>div:first-child{
    display: block;
}
.post_upload img{
    width: 180px;
    height: 140px;
}
.post_upload input[type=file]{
    position: absolute;
    width: 180px;
    height: 140px;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    outline: none;
    z-index: 10;
}