#reCharge .panel-default>.panel-heading{
    background: #fff!important;
}
.bgColor{
    background: #fff;
    padding: 240px 0px 300px;
}
.bgColor2{
    background: #fff;
    padding: 50px 0 190px;
}
.forget{
    color: #66512c;
}
.forget:focus, .forget:hover{
    color: #66512c;
}
.sure{
    padding: 6px 60px;
}
.cancel {
    border: 1px solid #c6b07f;
    color: #c5b17c;
}
.cancel:hover,.cancel:focus{
    border: 1px solid #c6b07f;
    color: #c5b17c;
}
.bgColor3 {
    background: #fff;
    padding: 60px 0px 280px;
}

.bank {
    height: 60px;
    width: 200px;
    text-align: center;
    line-height: 48px;
    border: 1px solid #ccc;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 38px 12px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.industry {
    background-image: url(../images/industry.png);
}

.farming {
    background-image: url(../images/farming.png);
}

.build {
    background-image: url(../images/build.png);
}

.china {
    background-image: url(../images/china.png);
}

.post {
    background-image: url(../images/post.png);
}

.business {
    background-image: url(../images/business.png);
}

.livehood {
    background-image: url(../images/livehood.png);
}

.traffic {
    background-image: url(../images/traffic.png);
}

.safety {
    background-image: url(../images/safety.png);
}

.societe {
    background-image: url(../images/societe.png);
}

.gf {
    background-image: url(../images/GF.png);
}

.others {
    /* width: auto;
    padding: 0 60px; */
    width: 200px;
    height: 60px;
    margin: 0;
    border: 1px solid #ccc;
    line-height: 60px;
    text-align: center;
    background-image: url(../images/credit.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 38px 12px;
    position: relative;
}




.toggle p:not(:first-child){
    display: none;
}

.others::after{
    content: url(../images/toggle1.png);
    position: absolute;
    width: 10px;
    height: 10px;
    top: 11px;
    right: 45px;
    transition: all .3s;
    /* transform: rotate(90deg); */
}

.toggle::after{
    top: 36px;
    right: 25px;
    transform: rotate(180deg);
}

.others p:first-child{
    border: none;
}

.others p{
    height: 100%;
    border: 1px solid #ccc;
    border-top: none;
    width: 200px;
    margin-left: -16px;
    background-image: url(../images/credit.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 38px 12px;
    cursor: pointer;
}

.others option {
    /* text-align: center; */
    /* width: 100%;
    height: 30px; */
}

/* .others option::before{
    content: url(../images/credit.png);
    width: 30px;
    height: 30px;
    position: absolute;
    top:0px;
    left: 0px;
} */

.selected {
    border: 1px solid #c6b07f;
}

.selected:after {
    content: url(../images/checkoff.png);
    position: absolute;
    top: 0px;
    right: 0px;
}

.bank2 {
    width: 200px;
    height: 40px;
}