/*注册表单 */
.register-right-form{
    width: 260px;
    height: 376px;
    background: #fff;
    opacity: .9;
    border-radius: 5px;
    padding: 24px 30px 0px;
}
.register-right-form p.registerIn{
    letter-spacing: 4px;
}
.register-right-form p a{
    color: #c6af7d;
    font-size: 14px;
}
.register-right-form p a:hover,.register-right-form p a:focus{
    color: #c6af7d!important;
}
.form-group{
    margin-bottom: 10px!important;
}
.register-right-form .form-group input{
    border: 1px solid #c6b07f;
}
.register-right-form div.form-group.identify-form{
    margin-bottom: 18px!important;
}
.register-right-form div.form-group:nth-of-type(2){
    margin-top: 22px;
}
.register-right-form .forget{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loginbtn{
    background: #c6b07f!important;
    color: #fff;
}
.loginbtn:hover,.loginbtn:focus{
    color: #fff;
}
.identify-row{
    margin: 0px!important;
}
.identify-left{
    padding: 0px!important;
}
.identify-right{
    padding: 0px!important;
}
.identify-right button{
    padding: 7px 5px!important;
    margin-left: 12px;
    border: 1px solid #c6b07f;
    color: #c6b07f;
    width: 72px;
}
.agree{
    white-space: nowrap;
    font-size: 1rem;
}
.agree a{
    color: #c6b07e;
}
.agree a:hover,.agree a:focus{
    color: #c6b07e!important;
}