/* 登录表单 */
.login-right-form{
    width: 260px;
    height: 360px;
    background: #fff;
    opacity: .9;
    border-radius: 5px;
    padding: 40px 30px 0px;
}
.login-right-form p.loginIn{
    letter-spacing: 4px;
}
.login-right-form p a{
    color: #c6af7d;
    font-size: 14px;
}
.login-right-form p a:hover,.login-right-form p a:focus{
    color: #c6af7d!important;
}
.login-right-form .form-group input{
    border: 1px solid #c6b07f;
}
.login-right-form div.form-group{
    margin-bottom: 20px!important;
}
.login-right-form div.form-group.identify-form{
    margin-bottom: 40px!important;
}
.login-right-form div.form-group:nth-of-type(2) input{
    margin-top: 22px;
}
.login-right-form .forget{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loginbtn{
    background: #c6b07f!important;
    color: #fff;
}
.loginbtn:hover,.loginbtn:focus{
    color: #fff;
}
